@import '../variables/Variables.scss';

.stats-main-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    p {
        font-family: $DMSans-Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        color: $Yellow;
    }
}

.stats-grid-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    width: 100%;
    color: $White;
}

.stas-left-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .stats-left-item {
        border: 1px solid $StrokeGrey;
        &:nth-child(1) {
            padding-bottom: 300px;
            border-left: none;
        }
        &:nth-child(2) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 30px;
            height: 100%;
            width: 100%;
            border-left: none;
            border-top: none;
        }
        h4 {
            font-family: $PPMori-SemiBold;
            font-size: 52px;
            font-style: normal;
            font-weight: 600;
            line-height: 58px; 
            letter-spacing: 1.04px;
            text-align: center;
            width: 520px;
            height: 116px;
            margin: 0 auto;
            margin-top: 22%;
        }
    }
}

#stats-detail-wrapper-left {
    border: none;
    display: flex;
    align-items: center;
    margin-left: 110px;
}

#stats-detail-wrapper-right {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
        text-align: start;
        font-size: 93px;
        line-height: 80px;
        margin: 0;
        padding-top: 10px;
        letter-spacing: 1.86px;
    }
}

#stats-detail-wrapper {
    margin: 0 auto;
    margin-top: 35%;
    width: 70%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h4 {
        font-family: $PPMori-SemiBold;
        font-size: 52px;
        font-style: normal;
        font-weight: 600;
        line-height: 58px; 
        letter-spacing: 1.04px;
        width: 520px;
        height: 116px;
        margin: 0 auto;
        margin-top: 0;
    }
}

.stats-right-container {
    display: flex;
    flex-wrap: wrap; 
    width: 50%;
    .stats-right-item {
        width: 49%;
        border: 1px solid $StrokeGrey;
        border-right: none;
        &:nth-child(1) {
            border-left: none;
            border-bottom: none;
        }
        &:nth-child(2) {
            border-bottom: none;
        }
        &:nth-child(3) {
           border-left: none;
        }
    }
}