@import '../variables/Variables.scss';

body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.banner-wrapper {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.filter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
}

.banner-container {
    position: absolute;
    top: 25%;
    bottom: 0;
    width: 100%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 55% 45%;
}

.banner-item-left {
    padding-left: 100px;
    span {
        color: $Yellow;
    }
    h2 {
        font-family: $PPMori-SemiBold;
        line-height: 80px;
        font-size: 76px;
        color: $White;
    }
    p {
        color: $White;
        font-family: $DMSans-Regular;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
}

.paragraph-wrapper {
    margin-left: 60px;
    width: 520px;
    height: 84px;
}

.banner-item-right { 
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 575.534px;
        height: 480px;
        flex-shrink: 0;
    }
}

.banner-footer-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.layout-item {
    border-top: 1px solid white;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;

    &:nth-child(2) {
        border-left: 1px solid $StrokeGrey;
        border-right: 1px solid $StrokeGrey; 
    }
    h3 {
        color: $Yellow;
        font-family: $PPMori-SemiBold;
    }
    p {
        color: $White;
        font-family: $DMSans-Regular;
    }
}

.services-main-container {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}

.services-grid-item {
    position: relative;
    width: 554px;
    height: 415px;
}

.services-heading {
    position: absolute;
    bottom: 0;
    padding-left: 40px;
    h4 {
        font-size: 24px;
        font-family: $PPMori-SemiBold;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        letter-spacing: 0.48px;
        color: $White;
    }
}

.about-main-container {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    margin: 0 auto;
}

.about-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
    .about-grid-item {
        display: flex;
        align-items: center;
        .about-description-container {
            width: 845px;
            height: 304px;
            h2 {
                font-size: 52px;
                font-family: $PPMori-SemiBold;
                font-style: normal;
                font-weight: 600;
                line-height: 58px;
                letter-spacing: 1.04px;
            }
            p {
                font-size: 20px;
                font-family: $DMSans-Regular;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; 
            }
            button {
                border-radius: 36px;
                background-color: $Yellow;
                color: $Black;
                border: none;
                font-size: 20px;
                padding: 13px 24px;
                font-family: $DMSans-Regular;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                &:hover {
                    background-color: $Green;
                    color: $Yellow;
                    cursor: pointer;
                }
            }
        }
    }
}

.join-main-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.join-description-container {
    position: absolute;
    bottom: 150px;
    width: 717px;
    height: 276px;
    padding-left: 100px;
    h2 {
        font-size: 52px;
        font-family: $PPMori-SemiBold;
        font-style: normal;
        font-weight: 600;
        line-height: 58px; 
        letter-spacing: 1.04px;
        color: $Yellow;
    }
    p {
        font-size: 20px;
        font-family: $DMSans-Regular;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
        color: $White;
    }
    button {
        border-radius: 36px;
        background-color: $Yellow;
        color: $Black;
        border: none;
        font-size: 20px;
        padding: 13px 24px;
        font-family: $DMSans-Regular;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        &:hover {
            background-color: transparent;
            color: $White;
            border: 2px solid $White;
            cursor: pointer;
        }
    }
}



