@import '../variables/Variables.scss';
@import './Home.scss';

.services-banner-wrapper {
    position: relative;
    height: 100%;
}

.services-banner-filter-overlay {
    position: absolute;
    width: 100%;
    height: 99.5%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0) 100%);
}

.services-banner-img-container {
    position: absolute;
    right: 99px;
    bottom: 59px;
}

.services-banner-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    .services-banner-text {
        padding-left: 100px;
        display: flex;
        align-items: center;
        width: 50%;
        h2 {
            font-size: 76px;
            font-family: $PPMori-SemiBold;
            font-style: normal;
            font-weight: 600;
            line-height: 80px;
            letter-spacing: 1.52px;
            color: $White;
        }
    }
}

.services-detail-container {
    width: 87.5%;
    margin: 0 auto;
    padding-top: 100px; 
}

.detail-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    padding-bottom: 80px;
    padding-right: 80px;
}

.detail-grid-item {
    flex: 1;
    max-width: 100%;
    h3 {
        font-size: 36px;
        font-family: $DMSans-Regular;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; 
        letter-spacing: 0.72px;
        margin-top: 0;
    }
    p {
        @include paragraphStyles;
        color: $Black;
        width: 817px;
        margin-top: 0;
    }
    button {
        @include sharedButtonStyles;
        gap: 10px;
    }
    img {
      width: 100%; 
      max-width: 100%;
      height: auto; 
      object-fit: cover; 
    }
}

.order-reverse {
    order: 2; 
}

.work-process-main-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.work-process-image-container {
    position: absolute;
    top: 103px;
    right: 100px;
}

.work-process-description-container {
    position: absolute;
    bottom: 150px;
    width: 717px;
    height: 276px;
    padding-left: 100px;
    h2 {
        @include headingStyles;
        color: $Yellow;
    }
    p {
        @include paragraphStyles;
        width: 845px;
    }
    button {
        @include sharedButtonStyles;
    }
}